<div class = "row">
    
    <%if params[:answer]=="correct" ||params[:answer]=="incorrect" %>
        <div class = "col-md-6 col-md-offset-3 animated fadeOutUp delay-2s">
    <%else%>
        <div class = "col-md-6 col-md-offset-3 animated fadeInUp delay-2s">
    <%end%>
            <div class = "row bottom-buffer top-buffer-large">
                <h1 class ="center "><%= @question.title %></h1>
            </div>
            <%=render 'layouts/answer'%>    
        </div>
    
    <%=render 'layouts/nextquestion'%> 
    
</div>