<div class = "row">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>

<% if @question.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Fix the following <%= pluralize(@question.errors.count, "error") %>.
    </div>
    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>