<% provide(:title, 'About') %>
<div class="center hero-unit col-md-8 col-md-offset-2">

    <div class = "about-text top-buffer-large bottom-buffer">
        Play some trivia! 
    </div>
    
    <div class = "about-text bottom-buffer">
        Write some trivia!
    </div>
    
    <div class = "about-text">
        If other players like your questions you'll gain reputation!
    </div class = "about-text">

</div>